@import url("https://fonts.googleapis.com/css?family=Hammersmith+One|Playfair+Display:400,700,900|Roboto:100,300,400,900");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: sans-serif; }

img {
  width: 100%;
  height: auto; }

.wrapper {
  margin: 0 auto;
  max-width: 960px; }

/* ----------header---------- */
header {
  background: linear-gradient(90deg, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)), url("../img/header_background.png") center;
  background-size: cover;
  background-blend-mode: normal; }

.headerBlock {
  padding: 15px 10px 70px 10px; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -12px; }

.logoBlock {
  display: flex;
  align-items: center; }
  .logoBlock__logo {
    width: 45px; }
  .logoBlock__text {
    padding-left: 10px; }
    .logoBlock__text p {
      font-size: 30px;
      font-family: 'Roboto Thin';
      background: linear-gradient(90deg, #00e0d0, #4aa3cc);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

.headerMenu__item {
  display: inline-block;
  list-style: none;
  padding: 12px; }
  .headerMenu__item a {
    text-decoration: none;
    font-size: 13px;
    font-family: 'Roboto Black';
    letter-spacing: 0.025em;
    color: white; }
  .headerMenu__item:hover {
    cursor: pointer; }
    .headerMenu__item:hover a {
      color: #00e0d0; }

.burgerMenu {
  display: none;
  margin-right: 10px;
  font-size: 28px;
  color: white; }

.headerContent {
  padding-top: 150px; }
  .headerContent__h1 {
    font-family: 'Playfair Display Black';
    letter-spacing: 0.01em;
    text-align: center;
    color: white;
    padding-bottom: 30px; }
  .headerContent__separator {
    width: 50px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background: #00e0d0; }
  .headerContent__text {
    max-width: 780px;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto; }
    .headerContent__text p {
      font-family: 'Roboto Light';
      font-size: 14px;
      letter-spacing: 0.05em;
      line-height: 24px;
      text-align: center;
      color: white; }

.btn {
  display: block;
  background: none;
  border-radius: 3px;
  border: 1px solid #00e0d0;
  margin: 0 auto;
  padding: 10px 15px;
  color: #00e0d0;
  font-size: 16px;
  font-family: 'HammersmithOne'; }

.dotnav {
  display: flex;
  justify-content: center;
  padding-top: 125px; }
  .dotnav__item {
    width: 10px;
    height: 10px;
    margin: 0 3px;
    border-radius: 50%;
    border: 1px solid white; }
    .dotnav__item-selected {
      background: #00e0d0; }

/* ----------content---------- */
/* ----------about---------- */
.aboutBlock {
  display: flex;
  padding: 70px 10px;
  margin-right: auto; }
  .aboutBlock__logo {
    margin: auto;
    padding-right: 20px; }
    .aboutBlock__logo img {
      width: 235px; }
  .aboutBlock__content {
    max-width: 540px; }
    .aboutBlock__content h2 {
      font-family: 'Playfair Display Bolt';
      font-size: 22px;
      letter-spacing: 0.05em;
      text-align: left;
      color: #413d4b;
      padding-bottom: 30px; }
    .aboutBlock__content p {
      font-family: 'Roboto Light';
      font-size: 14px;
      letter-spacing: 0.03em;
      line-height: 22px;
      text-align: left;
      color: #413d4b;
      padding-bottom: 30px; }
    .aboutBlock__content button {
      margin-left: 0; }

/* ----------video---------- */
.video {
  background: linear-gradient(90deg, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)), url("../img/video_background.png") center;
  background-size: cover;
  background-blend-mode: normal; }

.videoBlock {
  padding: 200px 10px; }
  .videoBlock__play {
    width: 100px;
    margin: 0 auto;
    padding-bottom: 35px; }
  .videoBlock__text {
    margin: auto; }
    .videoBlock__text p {
      font-family: 'Roboto Black';
      font-size: 16px;
      letter-spacing: 0.05em;
      text-align: center;
      color: white; }

/* ----------expertise---------- */
.expertiseBlock {
  display: block;
  padding: 70px 10px; }
  .expertiseBlock__title {
    padding-bottom: 15px; }
    .expertiseBlock__title h2 {
      font-family: 'Playfair Display Bolt';
      font-size: 22px;
      letter-spacing: 0.05em;
      text-align: center;
      color: #413d4b; }
  .expertiseBlock__text {
    padding-bottom: 20px; }
    .expertiseBlock__text p {
      font-family: 'Playfair Display';
      font-size: 14px;
      letter-spacing: 0.075em;
      text-align: center;
      color: #2f2d35; }
  .expertiseBlock__separator {
    display: block;
    width: 50px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background: #c6c4c9; }

.expertiseContent {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px; }
  .expertiseContent__item {
    width: 28%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto; }
    .expertiseContent__item img {
      height: 50px;
      width: auto;
      display: block;
      margin: 0 auto; }
    .expertiseContent__item h3 {
      padding-top: 35px;
      padding-bottom: 30px;
      font-family: 'Roboto Black';
      font-size: 14px;
      letter-spacing: 0.05em;
      text-align: center;
      color: #413d4b; }
    .expertiseContent__item p {
      font-family: 'Roboto Light';
      font-size: 14px;
      letter-spacing: 0.05em;
      line-height: 22px;
      text-align: center;
      color: #333333; }
  .expertiseContent__separatorHorizontal {
    display: none;
    width: 100%;
    height: 1px;
    background: #ebebeb; }
    .expertiseContent__separatorHorizontal-full {
      display: block; }
  .expertiseContent__separatorVertical {
    display: none;
    width: 1px;
    background: #ebebeb; }
    .expertiseContent__separatorVertical-full {
      display: block; }

/* ----------team---------- */
.team {
  background: linear-gradient(90deg, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)), url("../img/team_background.png") center;
  background-size: cover;
  background-blend-mode: normal; }

.teamBlock {
  display: block;
  padding: 70px 10px; }
  .teamBlock__title {
    padding-bottom: 20px; }
    .teamBlock__title h2 {
      font-family: 'Playfair Display Bolt';
      font-size: 22px;
      letter-spacing: 0.05em;
      text-align: center;
      color: #ffffff; }
  .teamBlock__text {
    padding-bottom: 20px; }
    .teamBlock__text p {
      font-family: 'Playfair Display';
      font-size: 14px;
      letter-spacing: 0.075em;
      text-align: center;
      color: #f9f9f9; }
  .teamBlock__separator {
    display: block;
    width: 50px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background: #655c80; }
  .teamBlock__image {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px; }
  .teamBlock__btnText {
    padding-top: 60px;
    padding-bottom: 30px; }
    .teamBlock__btnText p {
      font-family: 'Roboto Light';
      font-size: 14px;
      letter-spacing: 0.05em;
      text-align: center;
      color: #f3f3f3; }

.teamImage {
  padding: 10px; }
  .teamImage__photo {
    width: 220px;
    height: 230px;
    background: white; }
  .teamImage__border {
    height: 80px;
    border: 1px solid #78768c; }
    .teamImage__border p {
      font-family: 'Roboto Light';
      font-size: 13px;
      text-align: center;
      color: #fafafa; }
      .teamImage__border p:first-child {
        padding-top: 20px;
        font-family: 'Roboto Black';
        font-size: 14px;
        letter-spacing: 0.05em;
        text-align: center;
        color: #ffffff; }

/* ----------works---------- */
.worksBlock {
  padding: 70px 0; }
  .worksBlock__title {
    display: flex;
    max-width: 960px;
    padding: 0 10px 70px 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between; }
    .worksBlock__title h2 {
      font-family: 'Playfair Display Bolt';
      font-size: 22px;
      letter-spacing: 0.05em;
      color: #413d4b; }
    .worksBlock__title p {
      margin-left: auto;
      padding-right: 10px;
      font-family: 'Roboto Light';
      font-size: 14px;
      letter-spacing: 0.05em;
      color: #413d4b; }
    .worksBlock__title img {
      width: 8px; }

.worksPhotos {
  padding-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .worksPhotos__items {
    background: #b6b6b6;
    width: calc( 100% / 6);
    height: 200px; }
    .worksPhotos__items-1 {
      background: #acacac; }
    .worksPhotos__items-2 {
      background: #a1a1a1; }
    .worksPhotos__items-3 {
      background: #8a8a8a; }
    .worksPhotos__items-4 {
      background: #a4a4a4; }

/* ----------testimonials---------- */
.testimonials {
  background: linear-gradient(90deg, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)), url("../img/testimonials_background.png") center;
  background-size: cover;
  background-blend-mode: normal; }

.testimonialsBlock {
  padding: 70px 10px; }
  .testimonialsBlock__title {
    font-family: 'Playfair Display';
    font-size: 100px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #ffffff; }
  .testimonialsBlock__text {
    margin-top: -20px;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto; }
    .testimonialsBlock__text p {
      font-family: 'Playfair Display';
      font-size: 16px;
      letter-spacing: 0.025em;
      line-height: 26px;
      text-align: center;
      color: #ffffff; }
  .testimonialsBlock__name {
    padding-top: 55px;
    font-family: 'Roboto Black';
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 22px;
    text-align: center;
    color: #ffffff; }
  .testimonialsBlock__profession {
    font-family: 'Roboto Light';
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    color: #ffffff; }

.testimonialsSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px; }
  .testimonialsSlider__nav {
    width: 11px;
    box-sizing: content-box;
    padding-left: 25px;
    padding-right: 25px; }
  .testimonialsSlider__pict {
    width: 45px;
    box-sizing: content-box;
    padding-left: 7px;
    padding-right: 7px; }
    .testimonialsSlider__pict-active {
      width: 70px; }

/* ----------contact---------- */
.contactBlock {
  display: flex;
  justify-content: space-between;
  padding: 70px 10px; }

.contactForm {
  width: 460px;
  padding-right: 20px; }
  .contactForm__title {
    padding-bottom: 35px; }
    .contactForm__title h2 {
      font-family: 'Playfair Display Bolt';
      font-size: 22px;
      letter-spacing: 0.05em;
      color: #413d4b; }
  .contactForm__field {
    height: 45px;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px; }
    .contactForm__field p {
      font-family: 'Roboto Light';
      font-size: 14px;
      letter-spacing: 0.05em;
      padding-left: 20px;
      padding-top: 14px;
      color: #413d4b; }
    .contactForm__field-massage {
      height: 200px; }

.clientBlock {
  width: 380px; }
  .clientBlock__title {
    padding-bottom: 35px;
    width: 100%; }
    .clientBlock__title h2 {
      font-family: 'Playfair Display Bolt';
      font-size: 22px;
      letter-spacing: 0.05em;
      color: #413d4b; }

.clientLogo {
  display: flex;
  margin-left: -40px; }
  .clientLogo__item {
    align-items: center; }
    .clientLogo__item img {
      box-sizing: content-box;
      padding: 20px 40px;
      float: left;
      width: 150px; }

/* ----------footer---------- */
footer {
  background: linear-gradient(90deg, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)), url("../img/footer_background.png") center;
  background-size: cover;
  background-blend-mode: normal; }

.footerBlock {
  padding: 70px 10px; }

.footerContent {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px; }

.footerLeft {
  width: calc(100% / 3 - 20px);
  padding-bottom: 40px;
  margin: 0 auto; }
  .footerLeft__text {
    padding-top: 20px; }
    .footerLeft__text p {
      font-family: 'Roboto Light';
      font-size: 14px;
      letter-spacing: 0.025em;
      line-height: 26px;
      text-align: left;
      color: #ffffff; }

.footerCenter {
  width: calc(100% / 3 - 20px);
  padding-bottom: 40px;
  margin: 0 auto; }
  .footerCenter__content {
    display: flex; }
    .footerCenter__content img {
      width: 18px;
      height: 18px;
      margin-right: 15px; }
  .footerCenter h3 {
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: 'Roboto Black';
    font-size: 15px;
    letter-spacing: 0.05em;
    line-height: 26px;
    text-align: left;
    color: #ffffff; }
  .footerCenter p {
    padding-bottom: 25px;
    font-family: 'Roboto Light';
    font-size: 14px;
    letter-spacing: 0.025em;
    line-height: 26px;
    text-align: left;
    color: #ffffff; }

.footerRight {
  width: calc(100% / 3 - 20px);
  padding-bottom: 40px;
  margin: 0 auto; }
  .footerRight h3 {
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: 'Roboto Black';
    font-size: 15px;
    letter-spacing: 0.05em;
    line-height: 26px;
    text-align: left;
    color: #ffffff; }

.subscribe {
  display: flex; }
  .subscribe__field {
    height: 45px;
    width: 210px;
    min-width: 200px;
    border: 1px solid #e5e5e5; }
    .subscribe__field p {
      font-family: 'Roboto Light';
      font-size: 14px;
      letter-spacing: 0.05em;
      line-height: 26px;
      padding-left: 20px;
      padding-top: 10px;
      color: #ffffff; }
  .subscribe__btn {
    height: 45px;
    width: 70px;
    min-width: 25px;
    margin-left: 10px;
    background: #e5e5e5;
    position: relative; }
    .subscribe__btn img {
      width: 25px;
      margin: auto;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0; }

.social {
  display: flex;
  align-items: center;
  padding-top: 25px; }
  .social__pict {
    width: 35px;
    box-sizing: content-box;
    padding-left: 4px;
    padding-right: 4px; }

.footerMenu__item {
  display: inline-block;
  list-style: none;
  margin-left: -12px; }
  .footerMenu__item a {
    font-size: 14px;
    font-family: 'Roboto Black';
    letter-spacing: 0.025em;
    line-height: 26px;
    padding: 12px 12px;
    color: white;
    text-decoration: none; }
  .footerMenu__item:hover {
    cursor: pointer; }
    .footerMenu__item:hover a {
      color: #00e0d0; }

.copyright p {
  font-size: 14px;
  font-family: 'Roboto Black';
  letter-spacing: 0.025em;
  line-height: 26px;
  padding: 12px 12px;
  color: white; }

/* ----------@media---------- */
/* ----------@media 740px---------- */
@media screen and (max-width: 740px) {
  .burgerMenu {
    display: block; }
  .headerMenu {
    position: relative; }
    .headerMenu__item {
      padding: 3px; }
    .headerMenu ul {
      background: rgba(0, 0, 0, 0);
      display: none;
      position: absolute;
      top: 26px;
      left: -70px; }
    .headerMenu:hover ul {
      display: block; }
      .headerMenu:hover ul li {
        display: block; }
  /* ----------expertise---------- */
  .expertiseContent__item {
    width: calc( 100% / 2 - 20px); }
  .expertiseContent__separatorHorizontal-full {
    display: none; }
  .expertiseContent__separatorHorizontal-740px {
    display: block; }
  .expertiseContent__separatorVertical-full {
    display: none; }
  .expertiseContent__separatorVertical-740px {
    display: block; }
  /* ----------works---------- */
  .worksPhotos__items {
    width: calc( 100% / 4); }
  /* ----------contact---------- */
  .contactBlock {
    display: block; }
  .contactForm {
    width: 100%;
    padding-right: 0;
    padding-bottom: 35px;
    margin-left: auto;
    margin-right: auto; }
    .contactForm__title h2 {
      text-align: center; }
  .clientBlock {
    width: 100%; }
    .clientBlock__title h2 {
      text-align: center; }
  .clientLogo {
    justify-content: space-around;
    margin-left: 0; }
    .clientLogo__item img {
      display: block;
      float: none; }
  /* ----------footer---------- */
  .footerContent {
    display: block; }
  .footerLeft {
    width: calc(100% - 20px); }
    .footerLeft .logoBlock {
      justify-content: center; }
    .footerLeft h3 {
      text-align: center; }
    .footerLeft__text p {
      text-align: center; }
  .footerCenter {
    width: calc(100% - 20px); }
    .footerCenter h3 {
      text-align: center; }
  .footerRight {
    width: calc(100% - 20px); }
    .footerRight h3 {
      text-align: center; }
  .subscribe {
    justify-content: center; }
    .subscribe__field {
      width: 400px; }
  .social {
    justify-content: center; } }

/* ----------@media 570px---------- */
@media screen and (max-width: 570px) {
  /* ----------footer---------- */
  .footerBlock .navbar {
    flex-wrap: wrap;
    justify-content: center; } }

/* ----------@media 500px---------- */
@media screen and (max-width: 500px) {
  /* ----------about---------- */
  .aboutBlock {
    display: block; }
    .aboutBlock__logo {
      padding-right: 0;
      padding-bottom: 30px; }
      .aboutBlock__logo img {
        display: block;
        margin: 0 auto; }
    .aboutBlock__content h2 {
      text-align: center; }
    .aboutBlock__content p {
      text-align: center; }
    .aboutBlock__content button {
      margin: 0 auto; }
  /* ----------expertise---------- */
  .expertiseContent__item {
    width: calc( 100% - 20px); }
  .expertiseContent__separatorHorizontal-740px {
    display: none; }
  .expertiseContent__separatorHorizontal-500px {
    display: block; }
  .expertiseContent__separatorVertical-740px {
    display: none; }
  /* ----------works---------- */
  .worksPhotos__items {
    width: calc( 100% / 2); }
  /* ----------contact---------- */
  .clientLogo {
    display: block; }
    .clientLogo__item img {
      margin-left: auto;
      margin-right: auto; } }
